<h1>New posts</h1>

<form action="/posts" method="POST" enctype="multipart/form-data">
    
    <div><input type="text" name="post[title]" placeholder="Title example - Longboard"></div>
    <div><input type="text" name="post[price]" placeholder="Price example - $40.00"></div>
    
    <div><input type="file" accept="images/*" name="images" multiple /></div>
    <div></div><textarea name="post[description]" placeholder="Description - 9ft longboard with fins"></textarea></div>
    <div></div><input type="text" name="post[location]" placeholder="Location - Portland, Oregon"></div>

    <input type="submit" text="Submit">
</form>